@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
    --backgroundgreen: rgb(176, 241, 176);
    --black: black;
    --darkgreen: rgb(66, 192, 93);
    --lightpink: rgb(253, 170, 183);
    --white: rgb(255, 255, 255);
    --cyan: rgb(9, 145, 187);
    --darkpurple: rgb(98, 0, 255);
    --blue: blue;
}

html {
    font-family: 'Space Mono', Arial, sans-serif;
    font-size: 14px;
    height: 100%;

    box-sizing: border-box;

}

body {

    padding: 0;
    margin: 0;
    height: 100%;

}



code {
    background-color: var(--white);
}

h1 {

    color: var(--black);
    font-size: 2.5rem;


    animation-name: leftRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;

}

h2 {
    text-align: center;
    font-size: 2rem;

    padding-bottom: 5px;
    background-image:
        linear-gradient(90deg, green, blue);
    background-size: 0 3px;
    background-repeat: no-repeat;
    background-position: bottom center;
    transition: 200ms ease;
}

h2:hover {
    background-size: 100% 4px;
}

h3 {
    border-bottom: 3px solid;
}

.wrap {

    height: 100%;
    background-color: var(--backgroundgreen);
    padding: 40px;

}

header {

    border: 1px solid var(--backgroundgreen);

}

.navcontainer {

    display: flex;
    flex-direction: column;
    margin: 0px;

}

.navbar {


    padding: 14px;
    padding-bottom: 14px;
    border-top: 3px solid;
    border-bottom: 3px solid;
}



.navbar-links {

    margin: inherit;
    padding: inherit;

    list-style-type: none;

    display: flex;
    justify-content: center;


}

.navbar-links li {

    width: 100%;
    padding: 0 1rem;
}


.navbar-link {

    padding: 10px;
    background-color: var(--darkgreen);

    display: flex;
    justify-content: center;

    border: 3px solid;
    border-radius: 10px;
    color: var(--black);
    font-weight: bold;
    text-decoration: none;
}

.navbar-link:hover {
    background-color: var(--lightpink);
}



.content {

    margin-top: 2rem;
    border: 3px solid;
    border-radius: 12px;
    background-color: lightcyan;
    padding: 2rem;

}

.contact {

    display: inline-block;

    margin-top: 2rem;
    border: 3px solid;
    border-radius: 12px;
    background-color: lightcyan;

    padding: 2rem;

}

.info {
    display: flex;
    text-align: center;

}


.info>* {
    padding: 10px;
    margin: 10px;
    width: 60%;
}


.info .home {
    font-size: 1.5rem;
    padding: 10px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
}


.info .basicp {

    padding: 10px;
    margin-bottom: 0px;
    text-align: left;
    background-color: white;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.info picture img {
    border: 3px solid;
    border-radius: 10px;
}


.info .list {
    text-align: left;
    background-color: white;
    margin: 0px;
    padding-bottom: 5px;

}


form {
    text-align: left;
    max-width: 420px;
    margin: 20px auto;

}

textarea {
    resize: none;
    height: 200px;
    width: 100%;

}

.fb {
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    line-height: 20px;

    border: 3px solid #7bd154;
    transition: all 0.3s;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.fb:focus {
    border: 3px solid var(--cyan);
}

@keyframes leftRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translate(0);
    }
}



/* Desktop/Laptops Large Devices*/
@media screen and (min-width: 791px) {
    h1 {
        color: var(--cyan);
    }

    .navbar-links {


        align-items: center;
        row-gap: 20px;

    }

    .navbar-links li {

        padding: 0 1rem;
    }
}


/* Tablet Medium Devices */
@media screen and (max-width: 790px) {

    html {
        font-size: 13px;
    }

    h1 {
        color: var(--blue);
    }

    .navbar-links {

        align-items: center;
        row-gap: 0;

    }

    .navbar-links li {

        padding: 0 0.15rem;
    }

    .info {

        align-items: center;
        flex-direction: column;
    }
}



@media screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }

    h1 {
        color: var(--darkpurple);
    }

    .navbar-links li {

        padding: 0 1rem;
    }

    .navbar-links {

        flex-direction: column;
        align-items: center;
        row-gap: 20px;

    }

    .navbar-links li {
        padding: .5rem 1rem;

    }

}


/*
@media screen and (max-width: 640px) {

    .info picture {
        display: none;
    }
} */